html
  head
    title Pokemons
  body
    block content 
      h1 See all Pokemon!
      a(href="/pokemons/new") Create new Pokemon
      ul.pokemon
          each pokemon,index in pokemons
            include pokemon.pug