extends layout

block content
    h2 Fruits Show Page
    h3= fruit.name 
    if fruit.readyToEat 
        - var ready = "it's ready to eat!"
    else 
        - var ready = "it is not ready to eat."
    p.
        The #{fruit.name} is #[em #{fruit.color}], and #{ready}

    