extends layout

block content
    h2 Vegetable Show Page
    h3= veggie.name 
    if veggie.readyToEat
        - var ready = "it's ready to eat!"
    else 
        - var ready = "it is not ready to eat."
    p.
        The #{veggie.name} is #[em #{veggie.color}], and #{ready}

    